<!DOCTYPE html>
{% load staticfiles %}
{% load blog_tag %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDIA's BLOG</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>


    {% if all_post %}
    <div class="content">
        <h1><a href="/">INDIA'S BLOG</a></h1>
        {% if tag %}
            <h2>Post showed by Tag : {{ tag.name | title}}</h2>
        {% endif %}
        {% for post in all_post %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p id="date">Published on {{ post.publish }} by {{ post.author|title }}</p>

{#            for tagging#}
        Tags : {% for tag in post.tags.all %}
                <a href="{% url 'post_by_tags' tag.slug %}" class="btn btn-success">{{ tag.name | title }}</a>
                {% endfor %}

            <h4>{{ post.body | truncatewords:30 | linebreaks }}</h4>
        {% endfor %}
    {% include 'paginator.html' with page=all_post %}
    </div>

    {% elif email_post %}
        <div class="content">
        {% if sent %}
            <h2>Post:{{ email_post.title }} is successfully send</h2>
        {% else %}
            <h2>{{ email_post.title }}<br>Post Send by Email</h2><hr>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-lg btn-success" value="Send Email">
            </form>
        {% endif %}
        </div>

    {% elif post %}
    <div class="content">
        <h1><a href="/">INDIA'S BLOG</a></h1>
            <h2>{{ post.title }}</h2>
            <p id="date">Published on {{ post.publish }} by {{ post.author|title }}</p>
            {{ post.body | linebreaks }}
            <a href="/sendmail/{{ post.id }}/" class="btn btn-lg btn-primary">Share Post by Email</a>
            <h2>{{ message }}</h2>


            {% with comments.count as comments_count %}
                     <h2> {{ comments_count }} Comment{{ comments_count|pluralize }}</h2>
            {% endwith %}
            {% if comments %}
                {% for comment in comments %}
                    <p id="ch">comment{{ forloop.counter }} by '{{ comment.name }}' created on {{ comment.created }}</p>
                    <div class="cb">{{ comment.body | linebreaks }}</div>
                {% endfor %}
            {% else %}
                <p>There are No Comments Yet..!</p>
            {% endif %}
            {% if csubmit %}
                <p>Add comment Successfully</p>
            {% endif %}<hr>
            <h2>You can add your comment it is more valuable for us!!!</h2>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-lg btn-success" value="Add Comment">
            </form>
            <br><br>

        </div>
    {% else %}
    <div class="content">
            <h1><a href="/">INDIA'S BLOG</a></h1>
        {% if signup %}
            <h2>SignUp Form:</h2><br>
        {% elif createpost %}
            <h2>Create Blog:</h2>
        {% elif login %}
            <h2>Login:</h2>
        {% endif %}
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-lg btn-success" value="Submit">
            </form>
    </div>

    {% endif %}

    <div class="sidebar">
     {% if username %}
         <h2>Hello {{ username | title}}</h2>
         <a href="/createblog/" class="btn btn-lg btn-success" >Add Post</a>&nbsp;
         <a href="/logout/" class="btn btn-lg btn-success">Logout</a>&nbsp;

    {% else %}
     <a href="/createblog/" class="btn btn-lg btn-success">Add Post</a>&nbsp;
    <a href="/signup/" class="btn btn-lg btn-success">SignUp</a>&nbsp;
    <a href="/login/" class="btn btn-lg btn-success">LogIn</a>&nbsp;
    {% endif %}
        <h2>INDIA's BLOG</h2>
        <h4>The Total Published Posts are  <span id="pcount">{% my_tag %} </span></h4>

{#        For inclusive tags#}
        <h3>Latest Post:</h3>
        {% view_latest_post 4 %}
        <h3>Most Comment Post:</h3>
        {% most_message_post as most_message %}
        <ul>
            {% for post in most_message %}
               <li> <a href="{{ post.get_absolute_url }}">{{ post |title }} </a></li>
            {% endfor %}
        </ul>
    </div>

{#    <div class="modal-footer">#}
{#        Hello#}
{#    <div>#}

</body>
</html>